h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.btn{
    color:rgb(21, 0, 255);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
label {
    color: #9c2626;
}
h3{
    color: darkgreen;
}
div {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
@media only screen and (max-width:250px){
    body {
        background-color: #9c2626;
    }
}